<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <span class="header_admin_img">
      <img src="../../../assets/images/profile.jpg"> </span> -->
    <span class="main_header_title"> Span Idea System</span>

    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person_outline</mat-icon>
        <span (click)="profile()" routerLink="/Profile"> Profile </span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span (click)="logout()" routerLink="/login"> Logout </span>
      </button>

    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="warrper_dashbord1">
  <div class="container-fluid">
    <div class="row">
      <mat-card class="wrapper_cards  col-md-2">
        <div class="wrapper_cards_cantainer">
          <div class="wrapper_cards_header">
            <div class="wrapper_cards_header">
              Employee Management
            </div>
          </div>
          <div routerLink="/empolyee-management" class="btn_details"> Details</div>
        </div>
      </mat-card>

    </div>
  </div>
  <div class="warrper_dashbord3">
    <div class="container-fluid">
      <div class="row">
        <mat-card class="wrapper_cards_box2 col-md-2" id="total_employee">
          <div class="wrapper_cards_box2_cantainer">
            <div class="wrapper_cards_box2_header">
              <span>
                <mat-icon>person_outline</mat-icon>
              </span>
              <br>
              Total Employee
              <br>
              <span>10</span>
            </div>
          </div>
        </mat-card>

      </div>
    </div>