<app-project-header></app-project-header>
<mat-toolbar>
    <div class="header_searchbar">
        <div class="search_emp_container">
            <form>
              <input type="text" id="search_bar" [(ngModel)]="term"  name="searchString"  placeholder="Search">
              <span class="search_library_bar_icon">
                <i class="material-icons">search </i>
              </span>
            </form>
          </div>
    </div>
    <div class="subheader_right">
      <button (click)="addProject(data,'save')" mat-stroked-button color="primary">ADD NEW Project</button>
    </div>
  </mat-toolbar>

  <div class="tabel_data">
      <!-- 
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field> -->
    
      <div class="container-fuild task_tabel_wrapper">
        <table class="table table-hover">
          <thead class="thead-responsive">
            <tr>
              <th> No</th>
              <th> Project Name</th>

            </tr>
          </thead>
          <tbody>
            <tr class="emplist_tr" *ngFor="let projectData of projectlist  |filter:term  let myIndex = index;" 
            (click)="detailsEmpolyee(projectData.emp_id)" >
              <td>{{myIndex+1}}</td>
              <td>{{projectData.project_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    