<app-emp-management-header></app-emp-management-header>

<div class="details_wrapper" *ngFor="let emp of Empolyeelist">
  <mat-toolbar class="empolyee_header">
    <mat-toolbar-row>
      <span class="main_header_title">
        <div class="back_icon" (click)="goBack()">
          <i class="material-icons"> arrow_back</i>
        </div>
      </span>
      <span class="example-spacer"></span>
      <button class="icons_call_details" mat-icon-button>
        <mat-icon (click)="openPhone()">call</mat-icon>
      </button>
      <button class="icons_call_details" mat-icon-button>
        <mat-icon (click)="sendEmail()">email</mat-icon>
      </button>
      <button class="icons_call_details" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div>
        <mat-menu dir="Right" #menu="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
          <button (click)="deleteEmpoyee()" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span class="sort_delete_menu_list_item">Delete</span>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Profile">
      <mat-card class="profile_wrapper">
        <div class="row ">
          <div class="col-md-3">
            <div *ngIf="emp.profile" class="profile-img">
              <img mat-card-image class="image_url" src="{{env.myVarForImageURLS}}{{emp.profile}}" alt="{{emp.profile}}">
              <div class="file btn btn-lg btn-primary">
                Change Photo
                <input type="file" name="file" />
              </div>
            </div>
            <div class="dummy_image" *ngIf="emp.profile===''">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz7l-uFLR0XLee1cWmWsYCX-6XqxImqMW59WKbF4Bv8qVn4xZwMA">
            </div>
          </div>

          <div class="col-md-6">
            <mat-toolbar>
              <button class="perofile_btn" mat-stroked-button color="primary"> {{emp.prefix}} {{emp.first_name }}
                {{emp.middle_name}} {{emp.last_name}}</button>
              <button class="perofile_btn" mat-stroked-button color="accent"> {{emp.emp_title}}</button>
              <div class="back_icon" (click)="editEmpoyee()">
                <i class="material-icons"> edit</i>
              </div>
            </mat-toolbar>
            <div class="wrapper_salary">
              <div class="row">
                <div class="col-md-6 profile_label">
                  <label>Employee Unique Id </label>
                </div>
                <div class="col-md-6 profile_value">
                  <p>{{emp.emp_unique_id}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 profile_label">
                  <label>Email</label>
                </div>
                <div class="col-md-6 profile_value">
                  <p>{{emp.email}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 profile_label">
                  <label>Phone</label>
                </div>
                <div class="col-md-6 profile_value">
                  <p>{{emp.phone}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 profile_label">
                  <label>address</label>
                </div>
                <div class="col-md-6 profile_value">
                  <p>{{emp.address}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 profile_label">
                  <label>Notes</label>
                </div>
                <div class="col-md-6 profile_value">
                  <p>{{emp.imp_notes}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 profile_label">
                  <label>Gender</label>
                </div>
                <div class="col-md-6 profile_value">
                  <p *ngIf="emp.gendar === '1' ">Male</p>
                  <p *ngIf="emp.gendar === '2' ">Female</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 profile_label">
                  <label>Department</label>
                </div>
                <div class="col-md-6 profile_value">
                  <p>{{emp.emp_department}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 profile_label">
                  <label>Employee Description</label>
                </div>
                <div class="col-md-6 profile_value">
                  <p>{{emp.emp_description}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 profile_label">
                  <label>Date Of Birth</label>
                </div>
                <div class="col-md-6 profile_value">
                  <p>{{emp.date_of_birth | date}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Document">
      <!-- <mat-toolbar>
        <button class="perofile_btn" (click)="addDocumentDialog()" mat-raised-button color="primary">Add Document</button>
      </mat-toolbar> -->
      <div class="wrapper_salary">
        <div class="row">
          <div class="col-md-6 profile_label">
            <label>Addar Number</label>
          </div>
          <div class="col-md-6 profile_value">
            <p>{{emp.addar_number}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 profile_label">
            <label>joining Date</label>
          </div>
          <div class="col-md-6 profile_value">
            <p>{{emp.joing_date | date }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 profile_label">
            <label>Pancard Number</label>
          </div>
          <div class="col-md-6 profile_value">
            <p>{{emp.pan_number}}</p>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>